<table role="presentation" style="background:white" width="100%" cellspacing="0" cellpadding="0" border="0"> 
    <tbody>
        <tr> 
            <td> 
                <table role="presentation" id="m_-9034317916659480312bodyTable" style="margin-left:auto;margin-right:auto;min-width:400px"  cellspacing="0" cellpadding="0" border="0" align="center"> 
                <tbody>
                    <tr class="m_-9034317916659480312desktopPad"> 
                        <td style="white-space:normal;color:#777777;font-family:Arial,Helvetica,sans-serf;font-size:11px;text-align:right;padding-top:7px;padding-bottom:7px"> 
                        <div id="m_-9034317916659480312preheader">
                        Dumbbells&nbsp;| Mx
                        </div> 
                        </td> 
                    </tr> 
                    <tr> 
                    <td>
                        <table role="presentation" id="m_-9034317916659480312container" style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr id="m_-9034317916659480312header6e4b0475-6885-4070-988e-379ff801b032"> 
                            <td> 
                                    <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                        <tbody> 
                                        <tr style="white-space:nowrap;"> 
                                            <td class="m_-9034317916659480312stack" style="white-space:normal;background-color:black;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"> 
                                                <table role="presentation" class="m_-9034317916659480312tableStack" width="48%" cellspacing="0" cellpadding="0" border="0" align="left"> 
                                                <tbody> 
                                                    <tr> 
                                                        <td class="m_-9034317916659480312center" style="white-space:normal;"> 
                                                            <div id="m_-9034317916659480312logo026e4b0475-6885-4070-988e-379ff801b032"> 
                                                            <a href="https://dumbbells.mx" target="_blank"> 
                                                               <img src="https://dumbbells.mx/backoffice/vistas/img/plantilla/logo1.png" style="display:block;max-width:165px!important" class="CToWUd" width="165"> </a> 
                                                            </div> 
                                                        </td> 
                                                    </tr> 
                                                </tbody> 
                                                </table> 
                                             </td> 
                                        </tr> 
                                        </tbody> 
                                    </table> 
                             </td> 
                            </tr>
                            <tr id="m_-9034317916659480312headlineOnlyb629d158-d4a9-48b3-b09d-d99e0526e1e2"> 
                                <td> 
                                    <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                        <tbody> 
                                            <tr style="white-space:nowrap;background-color:black"> 
                                            <td class="m_-9034317916659480312stack" style="font-weight:bold;color:white;text-align:left;font-family:Arial,Helvetica,
                                                                                           sans-serf;font-size:32px;line-height:26px;white-space:normal;background-color:black;
                                                                                           padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"> 
                                                <div id="m_-9034317916659480312headlineText04b629d158-d4a9-48b3-b09d-d99e0526e1e2">
                                                <span style="font-size:22px">Con el registro de {{ NOMBRE }} tus beneficios se incrementan</span> 
                                                 
                                                
                                                </div> 
                                            </td> 
                                            </tr> 
                                        </tbody> 
                                    </table> 
                                </td> 
                            </tr>
                            <tr id="m_-9034317916659480312headlineOnly6ff6570c-842c-488d-8172-a96d08cbb90a"> 
                            <td> 
                                <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                <tbody> 
                                    <tr style="white-space:nowrap;background-color:#ffffff"> 
                                        <td class="m_-9034317916659480312stack" style="font-weight:bold;color:black;text-align:left;font-family:Arial,Helvetica,sans-serf;
                                                                                       font-size:32px;line-height:22px;white-space:normal;background-color:black;padding-top:0px;
                                                                                       padding-right:25px;padding-bottom:0px;padding-left:25px"> 
                                        </td> 
                                    </tr> 
                                </tbody> 
                                </table> 
                            </td> 
                            </tr>
                            <tr id="m_-9034317916659480312textOnlyb880a1b3-3e17-4da4-8fce-154d0305787b"> 
                            <td> 
                                <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                <tbody> 
                                <tr style="white-space:nowrap;background-color:#ffffff"> 
                                <td class="m_-9034317916659480312stack" style="color:#8f9daa;text-align:left;font-family:Arial,Helvetica,sans-serf;font-size:16px;
                                                                               line-height:24px;white-space:normal;background-color:black;padding-top:15px;padding-right:25px;
                                                                               padding-bottom:15px;padding-left:25px"> 
                                <div id="m_-9034317916659480312plainText05b880a1b3-3e17-4da4-8fce-154d0305787b" 
                                     style="background-image: url('https://dumbbells.mx/backoffice/vistas/img/plantilla/cupon1.png');height: 268px;
                                            border-radius: 10px;width: 100%;background-repeat: no-repeat;background-size: cover;">
                                 <div id="m_-9034317916659480312headlineText046ff6570c-842c-488d-8172-a96d08cbb90a" 
                                                style="font-size: x-large;color: white;font-weight: bold;width:100%;margin-top:-14px;margin-left:27px;position: absolute;"> 
                                                <div style="height:80px"></div>
                                                <a href="https://dumbbells.mx/" target="_blank" style="text-decoration:none;cursor: pointer;">
                                                    <button style="height: 50px;background:gainsboro;border-radius: 8px;font-size:20px;font-weight:bold;color:indigo;">
                                                        {{ CUPON }}</button>
                                                    
                                                 </a>
                                                 <div style="height:30px"></div>
                                                <span style="font-size:18px;max-width:77%;
                                                             position:absolute;word-wrap: break-word;">Su cupon de descuento lo puede utilizar al realizar su compra</span> 
                                            </div> 
                                </div> </td> 
                                </tr> 
                                </tbody> 
                                </table> 
                            </td> 
                            </tr>
                            <tr id="m_-9034317916659480312textOnly80b41445-3b14-4bfe-ab58-90606914d87b"> 
                            <td> 
                                <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                <tbody> 
                                <tr style="white-space:nowrap;background-color:#ffffff"> 
                                <td class="m_-9034317916659480312stack" style="color:#8f9daa;text-align:left;font-family:Arial,Helvetica,sans-serf;font-size:16px;line-height:24px;white-space:normal;background-color:black;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"> 
                                <div id="m_-9034317916659480312plainText0580b41445-3b14-4bfe-ab58-90606914d87b"> 
                                <span style="font-size:16px">Invita a tus amigos y familiares para que se  <span class="il">registren</span> 
                                   <a href="https://dumbbells.mx/" id="m_-9034317916659480312" target="_blank">aqui</a>.</span> 
                                </div> </td> 
                                </tr> 
                                 
                                </tbody> 
                                </table> 
                            </td> 
                            </tr>
                            <tr id="m_-9034317916659480312newFooter"> 
                            <td> 
                                <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                    <tbody> 
                                    <tr style="white-space:nowrap;background-color:white"> 
                                    <td class="m_-9034317916659480312stack" style="white-space:normal;background-color:black;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"> 
                                    <div id="m_-9034317916659480312footerContent20"> 
                                        <table role="presentation" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                            <tbody> 
                                            <tr> 
                                            <td> 
                                                <table role="presentation" class="m_-9034317916659480312tableStack" width="28%" cellspacing="0" cellpadding="0" border="0" align="left"> 
                                                    <tbody> 
                                                    <tr> 
                                                    <td class="m_-9034317916659480312center"><a href="http://email.docker.com/DF1a0010LJP00h1XKI3N0Ts" target="_blank"> 
                                                        <img src="https://dumbbells.mx/backoffice/vistas/img/plantilla/logo1.png" 
                                                        style="display:block;max-width:100px!important" class="CToWUd" width="100"> </a>
                                                    </td> 
                                                    </tr> 
                                                    </tbody> 
                                                </table> 
                                                <table role="presentation" class="m_-9034317916659480312tableStack m_-9034317916659480312insideTopPad" width="68%" cellspacing="0" cellpadding="0" border="0" align="right"> 
                                                    <tbody> 
                                                    <tr> 
                                                    <td class="m_-9034317916659480312center" style="text-align:right"> 
                                                    <table role="presentation" style="display:inline-block" cellspacing="0" cellpadding="0" border="0"> 
                                                    <tbody> 
                                                    <tr> 
                                                    <td width="40"><a href="https://www.facebook.com/" target="_blank"><img src="https://goto.docker.com/rs/929-FJL-178/images/docker2018_Facebook.png" style="display:block;max-width:24px!important" class="CToWUd" width="24" height="24"></a></td> 
                                                    <td width="40"><a href="https://www.instagram.com/?hl=es-la" target="_blank"><img src="https://dumbbells.mx/backoffice/vistas/img/plantilla/instagramlogo.png" style="display:block;max-width:24px!important" class="CToWUd" width="24" height="24"></a></td> 
                                                    </tr> 
                                                    </tbody> 
                                                    </table> </td> 
                                                    </tr> 
                                                    </tbody> 
                                                </table> 
                                            </td> 
                                            </tr> 
                                            <tr> 
                                            <td class="m_-9034317916659480312center" 
                                            style="padding-top:15px;color:#ffffff;text-align:left;font-family:Arial,Helvetica,sans-serf;font-size:12px;line-height:18px">© 2020 Dumbbells Mx. All rights reserved | 
                                            <a href="#" style="color:#ffffff;text-decoration:none" target="_blank">Politica de privacidad</a> | Mexico</td> 
                                            </tr> 
                                            </tbody> 
                                        </table> 
                                    </div> </td> 
                                    </tr> 
                                    </tbody> 
                                </table> 
                            </td> 
                            </tr>
                            </tbody>
                        </table> 
                    </td> 
                    </tr>  
                    <tr> 
                    <td> 
                        <table role="presentation" id="m_-9034317916659480312gmailModule" style="min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0"> 
                            <tbody>
                            <tr style="white-space:nowrap;background-color:#ffffff"> 
                            <td style="min-width:400px;opacity:0;font-size:0px;line-height:0px" height="1"> <img src="#m_-9034317916659480312_" style="min-width:400px;max-height:0px;text-decoration:none;border:none" class="CToWUd" height="1"> </td> 
                            </tr> 
                            </tbody>
                        </table> 
                    </td> 
                    </tr> 
                </tbody>
            </table> 
             </td> 
        </tr> 
    </tbody>
</table>  