/*=============================================
CARRITO DE COMPRAS
=============================================*/

.cabeceraCarrito {
    height: 40px;
}

.cabeceraCarrito h3 {
    margin-top: -5px
}

.cabeceraCheckout {
    height: 66px;
}


/*=============================================
CHECKOUT
=============================================*/

.contenidoCheckout,
.contenidoCheckout .row {
    padding: 0px 20px;
}

.formEnvio {
    display: block;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px) {

    .containerx {
        padding: 0px;
        width: 107%;
        margin-left: -19px;
    }

    #pagocupon{
        width: 107%;
        margin-left: -13px;
        margin-top: 1px;
    }
}


/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px) {

    .containerx {
        padding: 0px;
        width: 100%;
        margin-left: -19px;
    }

    #pagocupon{
        width: 107%;
        margin-left: -13px;
        margin-top: 1px;
    }
}


@media (max-width:1199px) and (min-width:992px) and (orientation: landscape){

    .containerx {
        padding: 0px;
        width: 107%;
        margin-left: -19px;
    }

    #pagocupon{
        width: 107%;
        margin-left: -13px;
        margin-top: 1px;
    }
}


/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px) {
    .containerx {
        padding: 0px;
        width: 107%;
        margin-left: -19px;
    }

    #pagocupon{
        width: 106%;
        margin-left: -13px;
        margin-top: 1px;
    }
}


@media (max-width:991px) and (min-width:768px) and (orientation: landscape){
    .containerx {
        padding: 0px;
        width: 107%;
        margin-left: -19px;
    }

    #pagocupon{
        width: 106%;
        margin-left: -13px;
        margin-top: 1px;
    }
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px) {

    .containerx {
        padding: 0px!important;
        width: 113%!important;
        margin-left: -19px!important;
    }

    .btnAplicarCupon{
        margin-left: -13px;
        margin-top: 3px;
        width: 111%;
    }

    #pagocupon{
        margin-left: -13px;
        margin-top: 3px;
        width: 111%;
    }

}



@media (max-width:767px) and (orientation: landscape) {

    .containerx {
        padding: 0px!important;
        width: 106%!important;
        margin-left: -19px!important;
    }

    .btnAplicarCupon{
        margin-left: -13px;
        margin-top: 3px;
        width: 104%;
    }

    #pagocupon{
        margin-left: -13px;
        margin-top: 3px;
        width: 104%;
    }

}