/*=============================================
FOOTER
=============================================*/

footer{
	margin-top:20px;
	border-top:8px solid #fff;
	background: #222;
	padding:20px 0;
}

.footerCategorias h4 a{
	color:#bdb9b9;
}

.footerCategorias li a{
	color:#fff!important;
}

.footerCategorias hr{
	border:1px solid #333;
}

.infoContacto h5{
	color:#fff;
}

.formContacto h4{
	color:#666;
}

.final{
	padding:20px 0;
	background: black;
}

.final ul li{
	display:inline;
	line-height:30px;
	margin:0px 5px;
	color:white;
}

.final .social ul li a i{
	font-size:18px;
	margin:0 1px;
}









#cookie-bar.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    
}

#cookie-bar {
    line-height: 3.5em;
    color: #eeeeee;
    text-align: center;
    padding: 3px 0;
    width: 100%;
    color: white;
	background-image: linear-gradient(#948f8f, #e8e8d6);
    
    
}

.cb-enable {
    border-radius: 10%;
    /*margin-left: 100px;*/
    padding: 8px 22px;  
    border-radius: 10%;
    font-family: arial;
    text-decoration: none;
    transition: .3s background-color;
    background: rgb(255, 0, 37);
    color: rgb(255, 255, 255);
   
    
 }

.cb-enable:hover {
	background: rgb(255, 0, 37);
}

.cb-policy {
    color: black;
    text-decoration-line: underline;
}

.cb-policy:hover {
    color: black;
	-webkit-text-decoration-line: underline; /* Safari */
	text-decoration-line: underline; 
}